.NavTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.NavTitle a {
  text-decoration: none;
  color: #cfcfcf;
}
.NavTitle a:hover {
  text-decoration: none;
  color: #fff;
}

.LinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40px;
}
