.DailyContainer {
  display: flex;
  flex-direction: column;
}
.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #bbb;
  border-radius: 0.25rem;
  width: 98%;
  margin: 5px auto;
}
.CardHeader {
  padding: 0.75rem 1.25rem;
  background-color: #eaeaea;
  margin-bottom: 0;
  border-bottom: 1px solid #a0a0a0;
}
.CardHeader:hover {
  background-color: #ccc;
  cursor: pointer;
}
.HideShow {
  display: none;
}

.MonthYear {
  padding: 5px;
  font-size: 0.75rem;
  margin: 0px;
  margin-top: 10px;
}
.Amount {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: none;
  font-size: 0.75rem;
}
.Amount > div {
  text-align: left;
}
.HeaderDateContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -10px;
}
.DayHeaderInDailyCard {
  font-size: 2rem;
  margin-top: 10px;
  padding: 0px;
}

.OrderIcon {
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  padding: 0px 5px;
  margin: 0px 2px;
  border: 1px solid #88a;
  border-radius: 10%;
  color: #557;
  cursor: pointer;
}
.OrderIcon:hover {
  border: 1px solid #557;
  background: #ccd;
}
.SelectedOrderIcon {
  border: 1px solid #557;
  background: #88a;
  color: #ddd;
}
.SelectedOrderIcon:hover {
  background: #88a;
  color: #fff;
}
@media (min-width: 340px) {
  .Amount {
    font-size: 0.8rem;
  }
}
@media (min-width: 440px) {
  .MonthYear {
    font-size: 0.9rem;
  }
  .DayHeaderInDailyCard {
    font-size: 2.75rem;
  }
  .DayHeaderInDailyCard {
    font-size: 2rem;
  }
  .Amount {
    font-size: 1rem;
  }
}

@media (min-width: 767px) {
  .HideShow {
    display: block;
  }
  .DayHeaderInDailyCard {
    font-size: 3.25rem;
    margin-top: 0px;
  }

  .Amount {
    flex-direction: row;
  }
  .Amount > div {
    text-align: right;
  }
  .MonthYear {
    font-size: 1rem;
  }
}
@media (min-width: 1005px) {
}
