.MonthlyViewWrapper {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}
.MonthlyViewWrapper > div {
  cursor: pointer;
}
.Header {
  font-size: 0.75rem;
  height: 43px;
  padding: 0px;
}
.Header:hover {
  background: #cce;
}

.Badge {
  display: inline-block;
  margin-top: -1px;
  padding: 14px;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  border: inherit;
}
.Header > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.BadgeBackground {
  background: #6c757d;
}
.BadgeBackgroundCurrent {
  background: #ffc107;
}
.Header:hover .BadgeBackground {
  background: #acb5bd;
}
.Header:hover .BadgeBackgroundCurrent {
  background: #ffe157;
}

@media (min-width: 450px) {
  .Header {
    font-size: 0.8rem;
  }
  .MonthlyViewWrapper {
    margin: auto;
  }
}
@media (min-width: 530px) {
  .Badge {
    display: inline-block;
    margin-top: -1px;
    padding: 13px;
    font-weight: 700;
    font-size: 1.125rem;
  }
  .Header {
    font-size: 1rem;
  }
  .Header > div > div {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }
  .Summary {
    margin-top: 6px;
  }
}
