.Add {
  width: 64px;
  height: 64px;
  line-height: 0px;
  padding: 10px;
  border: 1px solid #28a745;
  border-radius: 50%;
  font-size: 2.65rem;
  font-weight: 600;
  text-align: center;
  background: #fff;
  color: #48c765;

  cursor: pointer;
}

.Add:hover {
  background: #58d775;
  color: #fff;
}

.Add:focus {
  outline: 0;
}

.AddAmount {
  width: 50%;
  min-width: 200px;
  height: 40px;
  color: #fff;
  background: #666;
  border: 1px solid #777;
  cursor: pointer;
  margin: 1px auto;
  text-transform: uppercase;
}
.AddAmount:hover {
  color: #aaa;
  background: #888;
  border: 1px solid #777;
}

.AddAmount:focus {
  outline: 0;
}
.GreenBtn {
  background-color: #9d8;
}
.GreenBtn:hover {
  background-color: #ceb;
}
.RedBtn {
  background-color: #d87;
}
.RedBtn:hover {
  background-color: #ecb;
}

.BurgerContainer {
  width: 30px;
  height: 25px;
  padding: 2px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}
.BurgerLine {
  width: 80%;
  height: 2px;
  margin: 5px auto 5px auto;
  background: #cfcfcf;
}

.BurgerContainer:hover > .BurgerLine {
  background: #fff;
}

@media (min-width: 500px) {
  .BurgerContainer {
    display: none;
  }
}
