.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2a0a00;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0px;
  margin: auto;
  width: 100%;
  z-index: 2200;
}
.NavBar a {
  color: #cfcfcf;
}
.NavBar > div > div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 0px;
}

.NavBar > a > div {
  width: 100%;
}
