.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CSVText {
  color: #5a5;
  text-align: center;
  cursor: pointer;
}
.CSVText span {
  margin: auto;
}
.CSVText:hover {
  color: #585;
}
.iconText {
  font-size: 0.85rem;
}
.ExcelIcon {
  width: 40px;
  height: 40px;
  font-size: 2rem;
}

.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #bbb;
  border-radius: 0.25rem;
  max-width: 800px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.CardHeader {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #a0a0a0;
}
.CardBody {
  padding: 20px;
  font-size: 1.125rem;
}
