.Main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 180px;
}
@media (min-width: 576px) {
  .Main {
    padding-top: 160px;
  }
}
/* @media (min-width: 600px) {
  .Main {
    width: 90%;
  }
}
@media (min-width: 900px) {
  .Main {
    width: 50%;
    min-width: 810px;
  }
} */
.ModalShow {
  display: block;
}
.ModalHide {
  display: none;
}
