.Container {
  left: 80%;
  bottom: 20px;
  position: fixed;
  width: 50px;
  padding: 1px;
}

@media (min-width: 600px) {
  .Container {
    left: 85%;
  }
}
@media (min-width: 970px) {
  .Container {
    left: 80%;
  }
}
@media (min-width: 1150px) {
  .Container {
    left: 75%;
  }
}
@media (min-width: 1500px) {
  .Container {
    left: 70%;
  }
}
