.WeeklyViewWrapper {
  padding-top: 40px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.WeeklyViewWrapper > div {
  cursor: pointer;
}
.OrderIcon {
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  padding: 0px 5px;
  margin: 0px 2px;
  border: 1px solid #88a;
  border-radius: 10%;
  color: #557;
  cursor: pointer;
}
.OrderIcon:hover {
  border: 1px solid #557;
  background: #ccd;
}
.SelectedOrderIcon {
  border: 1px solid #557;
  background: #88a;
  color: #ddd;
}
.SelectedOrderIcon:hover {
  background: #88a;
  color: #fff;
}
/*NEW FROM HERE*/
.Header {
  font-size: 0.75rem;
  height: 43px;
  padding: 0px;
}
.Header:hover {
  background: #cce;
}

.Badge {
  display: inline-block;
  margin-top: -1px;
  padding: 14px 5px;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  border: inherit;
}
.Header > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.BadgeBackground {
  background: #6c757d;
}
.BadgeBackgroundCurrent {
  background: #ffc107;
}
.Header:hover .BadgeBackground {
  background: #acb5bd;
}
.Header:hover .BadgeBackgroundCurrent {
  background: #ffe157;
}
@media (min-width: 350px) {
  .Badge {
    padding: 14px 8px;
    font-size: 0.8rem;
  }
}
@media (min-width: 450px) {
  .Header {
    font-size: 0.85rem;
  }
  .MonthlyViewWrapper {
    margin: auto;
  }
  .Badge {
    padding: 14px;
    font-size: 0.9rem;
  }
}
@media (min-width: 480px) {
  .Badge {
    font-size: 1rem;
  }
}
@media (min-width: 530px) {
  .Badge {
    font-size: 1.125rem;
  }
  .Header {
    font-size: 1rem;
  }
  .Header > div > div {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }
  .Summary {
    margin-top: 6px;
  }
}
