.CalendarViewWrapper {
  margin: auto;
  width: 100%;
  max-width: 800px;
}
.CalendarView {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 15px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  font-size: 0.55rem;
}
.CalendarView > li {
  width: calc(100% / 7);
  overflow: hidden;
}
.CalendarView > li {
  border: 1px solid #ccccff;
}
.CalendarView > li > div {
  padding: 0px;
}
.CalendarView > li:hover {
  border: 5px;
  border-color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 15px #47d;
}
.CalendarDayGrey > div {
  background: #eee;
}
.CalendarDayAddButton {
  color: #28a745;
  visibility: hidden;
}
.CalendarView > li:hover .CalendarDayAddButton {
  visibility: visible;
}
.CalendarDayAddButton:hover {
  cursor: pointer;
  color: #fff;
  border-top: 1px solid #28a745;
  background: #58d775;
}
@media (min-width: 350px) {
  .CalendarView {
    font-size: 0.7rem;
  }
}
@media (min-width: 767px) {
  .CalendarView {
    font-size: 0.9rem;
  }
}
