.Collapsible {
  display: none;
  transition: height 0.2s;
}

.Open {
  display: block;
}

.ToggleButtonContainer {
  height: 23px;
  width: 23px;
  padding: 0px 5px;
  border: 1px solid #88a;
  border-radius: 10%;
  cursor: pointer;
}
.ToggleButtonContainer:hover {
  border: 1px solid #557;
}

.CaretArrow {
  margin: auto;
  color: #557;
  font-size: 1.125rem;
  transform: rotate(0deg);
  transition: transform 1s;
}
.CaretOpen {
  transform: rotate(180deg);
}
