.NavHeader {
  position: fixed;
  top: 1px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  background-color: #2a0a00;
  color: #cfcfcf;
  box-shadow: 0px 3px 2px -1px #777;
  margin-bottom: 5px;
  z-index: 500;
}
.NavBarContainer {
  display: block;
  width: 100%;
}
