.ModalContainer {
  top: 10%;
  left: 0%;
  width: 90%;
  min-width: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 3px #333;
  border-radius: 3px;
  position: absolute;
  z-index: 4001;
}
.ModalContainer > div:nth-child(odd) {
  text-align: right;
}
.ModalContainer > div > button {
  text-align: right;
  color: #333;
  border: 2px solid #333;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
}

.ModalContainer > div > button:hover {
  text-align: right;
  color: #dd4433;
  border: 2px solid #dd4433;
}

.ModalHide {
  display: none;
}
.ModalShow {
  display: block;
}

.ModalContent {
  text-align: center;
  color: #333;
}
@media (min-width: 501px) {
  .ModalContainer {
    left: 25%;
    width: 50%;
  }
}
