.Container {
  min-width: 0;
  min-height: 50px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 155px;
  width: 100%;
  z-index: 490;
}

.CardFlex {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Summary {
  margin: auto;
  width: 100%;
}
.CardFont {
  font-size: 0.75rem;
}

@media (min-width: 335px) {
  .Container {
    top: 115px;
  }
}
@media (min-width: 340px) {
  .CardFont {
    font-size: 0.85rem;
  }
}
@media (min-width: 373px) {
  .CardFont {
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .Summary {
    width: 33.33%;
  }
}
@media (min-width: 576px) {
  .CardFlex {
    flex-direction: row;
  }
}
