.Calendar {
  width: 120%;
  background-color: transparent;
  height: 20px;
  z-index: 80;
  position: relative;
}
.CalendarInput {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: 0;
}
