.BlurBackground {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  z-index: 2000;
  display: none;
}

.BlurBackgroundShow {
  display: block;
}
.BlurBackgroundHide {
  display: none;
}
