.Logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #d5d5d5;
}

.Logo > span {
  background-color: #2a0a00;
  color: #d5d5d5;
  border: none;
  cursor: pointer;
  padding-right: 5px;
  display: inline-block;
}
.Logo:hover {
  color: #fff;
}
