.Arrow {
  width: 20px;
  padding-top: 2px;
  border: none;
  background: transparent;
  font-weight: 600;
  font-size: 1.1rem;
  color: #cfcfcf;
  cursor: pointer;
}

.Arrow:focus {
  outline: 0;
}
.Arrow:hover {
  color: #fff;
}

.SelectDate {
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.SelectDate > div {
  width: 90px;
  margin: auto;
  text-align: center;
  font-weight: 600;
}
