.DataRow {
  padding: 5px;
}
.DataRow:nth-child(even) {
  background: #efefff;
}
.DataRow:hover {
  background: #ddd;
  cursor: pointer;
}
.DailyContent {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}
