.FormContainer {
  width: 100%;
  margin: auto;
  margin-top: -70px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 10px #ddd;
  height: 100%;
}
.ButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.ButtonWrapper > button:disabled {
  background: #ccc;
  border: #6c757d;
}

.RowMargin {
  margin-top: 15px;
}

.RadioButton {
  cursor: pointer;
  padding: 1px;
  border: 1px solid #ccc;
  background: #eef;
  width: 100%;
  margin-right: 1px;
}
.RadioButton:hover {
  background: #ccd;
}
.CheckedRadioButton {
  border: 1px solid #999;
  background: #aad;
}
.CategoriesLabel {
  width: 49.9%;
  margin: 0px;
}
.CategoriesLabel > label {
  width: 100%;
  height: 50px;
}
.CategoriesContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 10px;
  padding-bottom: 20px;
}
.CategoriesContainerExtended {
  height: 100%;
}

.RadioButton {
  padding-left: -1.25rem;
}
.RadioButton > input {
  margin: 0px;
  padding: 0px;
  width: 0px;
  display: none;
}
.RadioButton > label {
  font-size: 0.7rem;
  margin: 0px;
  margin-left: 0px;
  cursor: pointer;
  visibility: visible;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.Label {
  margin: auto;
  width: 15%;
  min-width: 100px;
}
.Input {
  width: 85%;
}

.Calendar {
  width: 120%;
  background-color: transparent;
  height: 20px;
  z-index: 80;
  position: relative;
}
.Calendar > div.react-datepicker-wrapper {
  width: 100%;
}
.CalendarInput {
  width: 100%;
  min-width: calc(100%-100px);
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: 0;
}
@media (min-width: 378px) {
  .RadioButton > label {
    font-size: 0.85rem;
  }

  .CategoriesLabel {
    width: 49%;
    margin: 1px;
  }
}
@media (min-width: 450px) {
}
@media (min-width: 520px) {
  .RadioButton > label {
    font-size: 0.8rem;
  }
}
@media (min-width: 549px) {
  .CategoriesLabel {
    width: 32.5%;
    margin: 2px;
  }
}

@media (min-width: 580px) {
  .RadioButton > label {
    font-size: 0.85rem;
  }
}

@media (min-width: 740px) {
  .FormContainer {
    margin-top: -50px;
  }
}
@media (min-width: 800px) {
  .CategoriesLabel {
    width: 24%;
    margin: 2px;
  }
  .FormContainer {
    width: 800px;
  }
}

.LargeFAIcon {
  font-size: 2rem;
  font-weight: 300;
  color: #aaa;
  cursor: pointer;
}

.CaretArrowDown {
  transform: rotate(0deg);
}
.CaretArrowUp {
  transform: rotate(180deg);
}
.CursorPointer {
  cursor: pointer;
}
.IconSelectParent {
  width: 5%;
  min-width: 35px;
}
.IconSelect {
  width: 100%;
  border-radius: 10%;
  border: 1px solid #fff;
}
.IconSelect:hover {
  background: #ccd;
  border: 1px solid #ccd;
}
.IconSelect > * {
  margin: auto;
  width: 100%;
}
.IconSelected {
  background: #aad;
  border: 1px solid #557;
}
.IconSelected:hover {
  background: #ccd;
  border: 1px solid #557;
}
.Legend {
  font-size: 1rem;
  font-weight: 500;
}
