.FirstRow {
  color: #cfcfcf;
  font-size: 1.1rem;
}
nav.FirstRow {
  padding: 0px;
}
.FirstRow > div {
  width: 100%;
  background-color: #2a0a00;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
.FirstRow > div > div {
  margin: auto 0px;
}
.RowMargin {
  margin-top: 15px;
}
.Container {
  max-width: 600px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 1px 1px 10px #ddd;
  height: calc(100vh-35px);
}
.Container button {
  margin-right: 5px;
}
.UpdateUserPasswordFormContainer {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.ButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
