.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  width: 100%;
  min-width: 0;
  max-width: 800px;
  border: 1px solid #bbb;
  background-clip: border-box;
  border-radius: 0.25rem;
  margin: auto;
  margin-top: 10px;
  height: 100%;
}
.CardHeader {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #a0a0a0;
}
.CardBody {
  padding: 20px;
  font-size: 1.125rem;
}
